/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0px;
}

li {
  list-style: none;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --border-color: #d9d9d9;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

header img {
  width: 61.09px;
  height: 19px;
  margin-top: 10px;
}

nav {
  display: flex;
}

nav div {
  border-top: 2px solid white;
  padding: 20px;
}

nav div:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

main {
  padding: 0 50px;
}

.title-box h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 8px;
}

.search-bar {
  display: flex;
  margin: 30px 0px;
}

.search-bar input {
  padding: 0px 24px;
  border: 1px solid var(--main-bg-color);
}

.search-bar input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: black;
}

.button-text {
  background-color: var(--main-color);
  color: white;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  border: none;
  border-radius: 0px 15px 15px 0px;
  padding: 14px 16px;
  cursor: pointer;
}

.button-icon {
  display: none;
}

.location-container {
  background-color: var(--main-bg-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0px 0px 15px;
}

.location-container i {
  color: black;
}

.filter {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.filter-bar {
  display: flex;
  gap: 15px;
}

.filter-ele {
  display: flex;
  gap: 10px;
  padding: 13px 18px;
  font-weight: 700;
  align-items: center;
  border: 2px solid var(--border-color);
  border-radius: 25px;
}

.filter-ele:hover {
  background-color: var(--filter-bg-color);
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 35px 0px;
}

.ellipse {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.hebergements-cards {
  margin-top: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

.hebergements-cards img {
  width: 100%;
  height: 134px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

.hebergements-cards .card {
  flex-grow: 1;
  flex-shrink: 1;
  width: 25%;
}

.hebergements-cards .card-content {
  padding: 4px 15px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.affiche-link {
  margin-top: 30px;
  font-weight: 700;
  font-size: 18px;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activities ***********/

.activities {
  margin: 35px 0px;
  padding: 30px;
}

.activities h2 {
  margin: 0px 0px 30px 0px;
}

.activities-box {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  gap: 30px;
}

.activities-card {
  padding: 0px;
}

.activities-box a {
  width: 25%;
}

.activities-card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 380px;
}

.activities-container {
  padding: 20px;
  font-weight: 700;
}

/****** Footer ***********/

footer {
  background: var(--main-bg-color);
  padding: 20px;
  display: flex;
  margin: 0 50px;
}

.footer-individual-list {
  margin-right: auto;
}

.footer-individual-list li {
  margin-top: 15px;
}

.footer-individual-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.footer-individual-list a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities-card img {
    height: 200px;
  }

  .activities-container {
    height: 50px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
  }

  .activities-container h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: 0px;
  }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {
  /* ... */

  header {
    flex-direction: column;
    margin-top: 30px;
  }

  nav {
    width: 100%;
  }

  nav div {
    border-top: none;
    border-bottom: 2px solid var(--main-bg-color);
    width: 50%;
    display: flex;
    justify-content: center;
  }

  nav div:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
  }

  main {
    padding: 0px;
  }

  .main-container {
    padding: 0%;
  }

  .title-box {
    margin: 30px 30px 0px 30px;
  }

  .search-bar {
    width: 100%;
    justify-content: center;
  }

  .search-bar input {
    width: 60%;
  }

  .button-text {
    display: none;
  }

  .button-icon {
    display: block;
    background-color: var(--main-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    border: none;
    border-radius: 15px;
    padding: 14px 16px;
    cursor: pointer;
    position: relative;
    right: 10px;
  }

  .button-icon i {
    color: white;
  }

  .filter-bar {
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: space-evenly;
  }

  .ellipse i {
    padding: 0px 30px;
  }

  .filter-ele {
    width: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 14px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
  }

  .hebergements-and-populaires section:nth-child(1) {
    background-color: white;
  }

  .hebergements-cards .card {
    width: 100%;
  }

  .populaires {
    margin-top: 0px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .populaires-cards .card {
    width: 100%;
  }

  .activities-box {
    display: flex;
    flex-direction: column;
  }

  .activities-box a {
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 50px;
    margin: 0px;
  }
}
